<h1>Tables example</h1>
<h2 id="tableHeadingID">Table with TH and no styling</h2>
<table aria-labelledby="tableHeadingID">
  <tbody>
    <tr>
      <th>Heading 1</th>
      <th>Heading 2</th>
      <th>Heading 3</th>
    </tr>
    <tr>
      <td>Text TD 1</td>
      <td>Text TD 2</td>
      <td>Text TD 3</td>
    </tr>
    <tr>
      <td>Text TD 1</td>
      <td>Text TD 2</td>
      <td>Text TD 3</td>
    </tr>
    <tr>
      <td>Text TD 1</td>
      <td>Text TD 2</td>
      <td>Text TD 3</td>
    </tr>
  </tbody>
</table>

<h2>Table without TH and styling</h2>
<table>
  <tbody>
    <tr>
      <td>Text TD 1</td>
      <td>Text TD 2</td>
      <td>Text TD 3</td>
    </tr>
    <tr>
      <td>Text TD 1</td>
      <td>Text TD 2</td>
      <td>Text TD 3</td>
    </tr>
    <tr>
      <td>Text TD 1</td>
      <td>Text TD 2</td>
      <td>Text TD 3</td>
    </tr>
  </tbody>
</table>

<h2>Table without TH and styling but with border="1"</h2>
<table border="1">
  <tbody>
    <tr>
      <td>Text TD 1</td>
      <td>Text TD 2</td>
      <td>Text TD 3</td>
    </tr>
    <tr>
      <td>Text TD 1</td>
      <td>Text TD 2</td>
      <td>Text TD 3</td>
    </tr>
    <tr>
      <td>Text TD 1</td>
      <td>Text TD 2</td>
      <td>Text TD 3</td>
    </tr>
  </tbody>
</table>

<h2>Table without TH and styling but with role="table"</h2>
<table role="table">
  <tbody>
    <tr>
      <td>Text TD 1</td>
      <td>Text TD 2</td>
      <td>Text TD 3</td>
    </tr>
    <tr>
      <td>Text TD 1</td>
      <td>Text TD 2</td>
      <td>Text TD 3</td>
    </tr>
    <tr>
      <td>Text TD 1</td>
      <td>Text TD 2</td>
      <td>Text TD 3</td>
    </tr>
  </tbody>
</table>

<h2>Table without TH but with display: table</h2>
<table style="display: table;">
  <tbody>
    <tr>
      <td>Text TD 1</td>
      <td>Text TD 2</td>
      <td>Text TD 3</td>
    </tr>
    <tr>
      <td>Text TD 1</td>
      <td>Text TD 2</td>
      <td>Text TD 3</td>
    </tr>
    <tr>
      <td>Text TD 1</td>
      <td>Text TD 2</td>
      <td>Text TD 3</td>
    </tr>
  </tbody>
</table>
