---
title: 'Примеры доступности'
description: 'Главная страница'
---

<h2>Structure and semantics</h2>
<ul>
  <li><a href="/ru/articles/a11y-tree/">Accessibility Tree</a></li>
  <li><a href="/ru/articles/landmarks">Landmarks</a></li>
  <li><a href="/ru/articles/tables">role="LayoutTable"</a></li>
  <li><a href="/ru/articles/iframe">iframe structure</a></li>
  <li><a href="/ru/articles/aria-hidden">aria-hidden</a></li>
  <li><a href="/ru/articles/a11y-tags">Accessible chips (tags)</a></li>
  <li><a href="/ru/articles/date-combobox">Date picker combobox</a></li>
</ul>

<h2>Labels</h2>
<ul>
  <li><a href="/ru/articles/input-labels">labels for the inputs</a></li>
</ul>

<!--li><a href="/ru/articles/button">Button Example</a></li-->

<h2>Behavior</h2>
<ul>
  <li><a href="/ru/articles/scroll">Scroll</a></li>
  <li><a href="/ru/articles/toggle-button">Toggle buttons (switch, aria-pressed, change of the label)</a></li>
  <li><a href="/ru/articles/feature-popover">Feature popover</a></li>
</ul>

<h2>Live Regions</h2>
<ul>
  <li><a href="/ru/articles/role-alert">role="alert"</a></li>
  <li><a href="/ru/articles/aria-busy">aria-busy</a></li>
  <li><a href="/ru/articles/aria-atomic">aria-atomic</a></li>
</ul>

<h2>Content missing from TOC</h2>
<ul>
  <li>
    <a href="/ru/articles/wcag-form/wcag-form-after">wcag-form-before</a>
  </li>
  <li>
    <a href="/ru/articles/wcag-form/wcag-form-after">wcag-form-after</a>
  </li>
</ul>
