{# Adds redirect from /ru/articles to /ru #}
<!DOCTYPE html>
<html lang="ru">

<head>
  <meta http-equiv="refresh" content="0;url=/ru">
  <script type="text/javascript">
    window.location.href = "/ru";
  </script>
  <title>Redirecting...</title>
</head>

<body>
  <p>If you are not redirected automatically, follow this <a href="/ru">link to /ru</a>.</p>
</body>

</html>
